:root{

--primary:#5A1611;
--background:#F8F5F2;
--card:#FFFFFF;
--text:#2E2A29;
--secondary:#7A726C;
--border:#ECE5DF;
--success:#7C9A72;

}

*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

font-family:'Inter',sans-serif;

background:var(--background);

color:var(--text);

line-height:1.6;

}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:24px 10%;

background:white;

position:sticky;

top:0;

z-index:100;

border-bottom:1px solid var(--border);

}

.logo{

font-family:'Cormorant Garamond',serif;

font-size:34px;

font-weight:700;

color:var(--primary);

}

nav{

display:flex;

gap:28px;

}

nav a{

text-decoration:none;

color:var(--text);

font-weight:500;

transition:.25s;

}

nav a:hover{

color:var(--primary);

}

.hero{

padding:90px 10%;

text-align:center;

}

.hero h1{

font-family:'Cormorant Garamond',serif;

font-size:62px;

color:var(--primary);

margin-bottom:20px;

}

.hero p{

font-size:20px;

max-width:620px;

margin:auto;

color:var(--secondary);

}

.search-box{

margin-top:40px;

display:flex;

justify-content:center;

gap:10px;

}

.search-box input{

width:500px;

padding:18px;

border-radius:999px;

border:1px solid var(--border);

font-size:16px;

outline:none;

}

.search-box button{

padding:18px 34px;

background:var(--primary);

color:white;

border:none;

border-radius:999px;

cursor:pointer;

font-size:16px;

transition:.3s;

}

.search-box button:hover{

transform:translateY(-2px);

}
